{% extends "base.html" %}
{% block content %}
Current category: {{ category }} <br>
<div class="container">
    {% for tweet in tweets %}
    <p>
        <img src="{{ tweet.twitter_user.profile_image_url }}" style="width:48px;height:48px;border-radius:50%;">
        <span class="font-weight-bolder">{{ tweet.twitter_user.name }} (@{{ tweet.twitter_user.username }}) </span>
        <br>
        <br>
        <span class="font-weight-lighter">{{ tweet.content }}</span>

        {% for source in tweet.source_set.all %}
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <a href="{{ source.link }}" style="margin-top: 2px;"> {{ source.link }} </a>
                <a href="{% url 'tweet_overview:vote' source.id 'true' %}" type="button" class="btn btn-secondary" style="margin-left:10px;">+</a>
                <span>{{source.current_vote_number}}</span>
                <a href="{% url 'tweet_overview:vote' source.id 'false' %}" type="button" class="btn btn-secondary">-</a>
            </div>
        {% endfor %}

        <br>
    </p>

    {% endfor %}
</div>

{% endblock %}
