{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 5vh;">
    <center><h1>Fake News richtig stellen!</h1></center>
    <br>
    <center>
        <h5 class="box-text">Die Verbereitung von Falschinformationen ist ein großes Problem besonders nach den
            USA-Wahlen und der derzeitigen Corona-Lage. Wichtig im Moment ist besonders nur Wahres zu glauben. Auf
            dieser Plattform könnt ihr, wenn ihr einen Account habt, helfen Fake News aufzudecken und richtigzustellen.
            Dafür fügt ihr einen Tweet hinzu. Ihr müsst den Link des Tweets eingeben, den ihr richtig stellen wollt und
            eine Quelle angeben, die den Tweet widerlegt. Außerdem müsst ihr entscheiden zu welcher Kategorie der
            Eintrag gehört.</h5></center>
</div>
{% endblock %}
