{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<div class="card">
    <div class="login-box">
        <div class="login-snip">
            <a href="{% url 'login' %}" class="sign-in tab">Login</a>
            <a href="{% url 'accounts:signup' %}" class="sign-up tab checked">Sign up</a>
            <div class="login-space">
                <div class="sign-up-form">
                    <form method="post" action="{% url 'accounts:signup' %}">
                        {% csrf_token %}
                        <div class="group">
                            <label for="{{ form.email.id_for_label }}" class="label">E-Mail Adresse</label>
                            <input id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" type="email" class="input" placeholder="E-Mail Adresse eingeben" required>
                        </div>
                        <div class="group">
                            <label for="{{ form.name.id_for_label }}" class="label">Name</label>
                            <input id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" type="text" class="input" placeholder="Name eingeben">
                        </div>
                        <div class="group">
                            <label for="{{ form.password1.id_for_label }}" class="label">Passwort</label>
                            <input id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" type="password" class="input" data-type="password" placeholder="Passwort eingeben" required>
                        </div>
                        <div class="group">
                            <label for="{{ form.password2.id_for_label }}" class="label">Passwort (Wiederholung)</label>
                            <input id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}"  type="password" class="input" data-type="password" placeholder="Passwort wiederholen" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot">
                            <a href="{% url 'login' %}" style="color: white">Bereits registriert?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

