<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>AlpakaNews</title>
	<link href="style.css" rel="stylesheet" type="text/css" />

	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	 rel="stylesheet">

	<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	 src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
	</script>
	<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	 src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
  </script>
	<script 	crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	 src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	</script>

    {% block head %} {% endblock %}
</head>
  <body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'politik' %}">Politik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'wissenschaft' %}">Wissenschaft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'kultur' %}">Kultur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'wirtschaft' %}">Wirtschaft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'sport' %}">Sport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'beauty' %}">Beauty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'sonstiges' %}">Sonstiges</a>
            </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="index.html">AlpakaNews</a>
          <button class="navbar-toggler" data-target=".dual-collapse2" data-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <form action="/action_page.php" class="form-inline">
                <input type="hidden" class="form-control mr-sm-2" placeholder="Search" type="text">
                <button hidden="hidden" class="btn btn-success" type="submit">Search</button>
              </form>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:index' 'login' %}">Mein Profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tweet_overview:new_tweet' %}">Tweet hinzufügen</a>
              </li>
          </ul>
      </div>
  </nav>

  {% block content %} {% endblock %}

</body>
</html>
    <script src="script.js"></script>
  </body>
</html>
